@import url('https://fonts.googleapis.com/css2?family=Jost&family=Mukta&display=swap');

:root {
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}

* {
    box-sizing: border-box;
}

body {
    background: #fff;
    
}
.top-container {
    display: flex;
    justify-content: space-between;
}

.topnav {
    text-align: right;
    margin-right: 30px;
    margin-top: 30px;
    font-family: 'Jost', sans-serif;
}

.topnav a {
    margin: 6px;
}

.header h1{
    font-family: 'Mukta', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 11px;
}

.main-navbar {
    margin-top: 20px;
}

.main-searchbar {
    margin: 10px;
    background: #fff;
    border: solid 1px black;
    border-radius: 4px;
    padding: 8px;
    font-family: 'Jost', sans-serif;
}

.main-navbar-btn {
    margin-top: 10px;
    background: #fff;
    border: solid 1px black;
    border-radius: 4px;
    padding: 8px;
    font-family: 'Jost', sans-serif;
}
.main-navbar-btn:hover {
    color: #fff;
    background: black;
    border: solid 1px #fff;
    border-radius: 4px;
    padding: 8px;
}

.container {
    display: flex;
    height: 83vh;
}

/*Map*/
#map-container {
    width: 60vw;
    /* -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000; */
    box-shadow: 4px 0 5px -2px rgb(119, 119, 119);
}

.search_results {
    width: 35vw;
    border-top: 1px solid rgb(226, 226, 226);
    font-family: 'Jost', sans-serif;
    text-align: center;
}
.search_results p {
    margin: 40px;
}
div.search_results {
    width: 40vw;
    height: 83vh;
    overflow-x: hidden; 
    overflow-y: auto; 
}
.listElement {
    margin: 5vh;
    text-align: center;
}

/*Sign in or join*/
.form {
    padding: 70px;
    display: none;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    color: #777;
    display: block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 14px;

}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: var(--success-color);
}

.form-control.error input {
    border-color: var(--error-color);
}

.form-control small {
    color:  var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden; /*makes it invisible*/
    display: none; /*will collapse anything around it*/
}

.form-control.error small {
    visibility: visible;
}

.form button {
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}

/*Bottom navbar*/
.bottom-nav {
    margin-right: 30px;
    margin-top: 1px;
    bottom: 0px;
    /*How can I get these links on the right side?*/
    text-align: right;
    font-family: 'Jost', sans-serif;
    border-top: 1px solid rgb(226, 226, 226);
}
.bottom-nav a {
    margin: 6px;
}

.cookiePrefImg {
    width: 25vw;
    height: 60vh;
    margin-top: 10vh;
}